.tags-wrap {
    overflow: hidden;
    margin: -5px 0 0 -3px;
}
.tags-item {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #dae0e4;
    border-radius: 15px;
    margin: 5px 3px;
    font-size: 14px;
    line-height: 24px;
}