.detail-wrap {
    text-align: center;
}
.detail-title {
    margin-bottom: 15px;
    font-size: 3em;
    line-height: 60px;
    color: #313131;
}
.detail-sub-title{
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
}
.detail-item-wrap {
    text-align: left;
}
.detail-item {
    margin-bottom: 30px;
}
.detail-item-title {
    font-size: 24px;
    color: #313131;
}
.detail-item-img {
    width: 100%;
    margin: 20px 0;
}
.detail-item-desc {
    margin: 20px 0 30px;
    font: 16px/24px 'serif', serif;
    color: #6E7881;
}