.modal-wrap {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    height: 100%;
    transition: .5s all;
    overflow: auto;
    padding: 100px 80px;
}
.modal-wrap-before {
    opacity: 0;
    transform: translateY(-100%);
}
.modal-content {
    position: relative;
    margin: auto;
}
.modal-close-btn {
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    text-align: center;
}
.modal-close-btn .icon {
    color: #ccc;
    font-size: 28px;
}
.modal-close-btn .icon:hover {
    color: #11ABB0;
}
.modal-footer {
    text-align: center;
    margin-top: 100px;
}
.modal-footer .icon {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}
